<div class="row newsletter-div grey lighten-2">
    <div class="col s4 newsletter-text">
      <p class="newsletter-p1">BE THE FIRST TO KNOW</p>
      <p class="newsletter-p2">Find out about our special offer and exclusive news.</p>
    </div>
    <div class="col s5 newsletter-send" >
      <input class="newsletter-search" type="text" name="newsletter" placeholder="Your email address" />
      <button class="newsletter-btn" type="button">SUBSCRIBE</button>
    </div>
    <div class="col s3 contact-div">
      <p class="contact-text">GET IN TOUCH</p>
      <img src="../images/phone-icon.png" alt="phone icon" class="contact-icon">
      <img src="../images/email-icon.png" alt="email icon" class="contact-icon">
    </div>
  </div>

  <footer class="page-footer grey darken-4">
      <div class="row" style="margin-bottom: 10px;">
        <div class="col l4 footer-col">
          <p class="white-text footer-col-heading">Customer Care</p>
          <ul>
            <li><a class="grey-text text-lighten-3 footer-col-text footer-col-text" href="#!">Exchange Policy</a></li>
            <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">FAQs</a></li>
            <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">Contact Us</a></li>
          </ul>
        </div>
        <div class="col l4 footer-col">
          <p class="white-text footer-col-heading">Information</p>
          <ul>
            <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">Skin Care</a></li>
            <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">Glossary</a></li>
            <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">About Us</a></li>
            <li><a class="grey-text text-lighten-3 footer-col-text" href="#!">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col l4 footer-col">
          <p class="white-text footer-col-heading">We Accept</p>
          <img src="./images/images.svg" alt="" class="payment">
          <img src="./images/mastercard.png" alt="" class="payment">
        </div>
      </div>

      <div class="row contact-div">
        <div class="col s5" style="padding-left: 30px !important;">
          <p class="connect-text connect"> &nbsp; CONNECT &nbsp; <span class="connect-text-mid valign-wrapper">with</span> &nbsp; US &nbsp;</p>
        </div>
        <div class="col s2">
          <p class="connect-text" style="height: 60px;"></p>
        </div>
        <div class="col s5 connect-text test">
          <span class="connect-icon" ><i class="fa fa-facebook"></i></span>
          <span class="connect-icon"><i class="fa fa-instagram"></i></span>
          <span class="connect-icon"><i class="fa fa-youtube"></i></span>
        </div>
      </div>

      <div class="row footer-second-last"> </div>
      <div class="row footer-last"> </div>
    
  </footer>
